# OpenAI API 키
OPENAI_API_KEY=your_openai_api_key_here

# 아마란스10 API
AMARANTH_ACCESS_TOKEN=your_amaranth_access_token_here
AMARANTH_HASH_KEY=your_amaranth_hash_key_here
AMARANTH_GROUP_SEQ=your_group_seq_here
AMARANTH_CALLER_NAME=your_caller_name_here

# Monday.com API
MONDAY_API_KEy=your_monday_api_key_here
